__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
.pydeps/
.pydeps_user/
.env
*.log
.DS_Store
.build-venv/
build/
dist/
*.build/
*.dist/
*.onefile-build/
deployment/
nuitka-crash-report.xml
private-eval/

storage/*
!storage/.gitkeep
!storage/assets/
storage/assets/**
!storage/assets/.gitkeep
!storage/index/
storage/index/**
!storage/index/.gitkeep
!storage/themes/
storage/themes/**
!storage/themes/.gitkeep
